node_modules
.next
.git
.env
.env.*
!.env.example
*.db
*.db-journal
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/resumes/.gitkeep
!public/uploads/photos/.gitkeep
npm-debug.log*
.DS_Store
.vercel
